{% extends 'core/base.html' %}

{% load static %}

{% block title %}Docentes{% endblock %}

{% block img-background %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Docentes</h1>
{% endblock %}

{% block content %}
<!--
<div class="container" style="text-align: center;">
    <h3>Datos obtenidos de los Docentes</h3>
    <div id="output"></div>
</div>  -->
<!--contenido-->
<div id="bienvenida">
    <div class="container">
        <div id="profile-card" class="row">
        </div>
    </div>
    </div>

{% endblock %}